# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Miscellaneous
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/

# Dist folder for builds
dist/
build/
